# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
  
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  
  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  celery:
    build: .
    command: celery -A cashride worker -l info
    env_file:
      - .env
    depends_on:
      - redis
      - web

volumes:
  mongo_data: